.credits-overlay {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;

    height: 100%;
    width: 500px;

    isolation: isolate;

    padding-block-start: 16px;
    padding-inline-end: 12px;

    .wrapper {
        height: 100%;
        width: 100%;

        display: flex;
        flex-direction: column;
    }

    .credits-button {
        align-self: flex-end;
        width: 112px;

        padding-block-start: 8px;
        padding-block-end: 2px;

        color: white;

        border-radius: 1em 1em 0 0;
        &.open {
            background-color: #566095;
            border-color: #566095;
        }

        &:hover {
            text-decoration: underline;
        }
    }

    .content {
        height: 70%;
        padding-block-start: 16px;
        padding-block-end: 32px;
        padding-inline: 24px;

        border-radius: 1em;

        background-color: #566095;
        color: white;
        font-size: 12px;

        overflow-y: scroll;

        display: none;

        &.open {
            display: block;
        }

        .section {
            padding-block-end: 8px;
        }

        ul > li {
            margin-inline-start: 8px;
        }
    }
}
