/* UI Elements */
navigation {
    position: absolute;
    bottom: 2rem;

    color: white;

    width: 100%;
}

.camera-alt {
    font-size: 1rem;
    font-style: italic;
    margin: 0 1em;
    margin-bottom: 8px;
}

.camera-actions {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 1em;

    margin: 0 1em;
}

.camera-actions button {
    background-color: transparent;
    padding-block: 8px;
    padding-inline: 1em;
    border-radius: 24px;
    font-size: 4em;
    color: white;
}

.camera-actions button:hover {
    color: palevioletred;
    cursor: pointer;
}
