/* BASE */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    overflow: hidden;
}

/*
  Remove default button styles.
*/
button {
    display: block;
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
    cursor: pointer;
    text-align: left;
    font: inherit;
    color: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

/* WEBGL */
.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

/* LOADING OVERLAY */
.loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    width: 100%;
    height: 100%;

    background-color: black;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loading-progress {
    font-size: 8vw;
    transition: all 0.5s;
}

.enter-experience-button {
    display: none;
    padding: 12px 24px;
    border-radius: 10em;
    border: 1px solid white;
}

.enter-experience-button:hover {
    background-color: aliceblue;
    color: black;
}
