@use 'variables' as *;

/* BASE STYLES */
body {
    font-family: $family-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
h7 {
    font-family: $family-sans-serif;
    font-weight: 700;
    line-height: 1;
}

p {
    max-width: 60ch;
    font-size: 1.2rem;
}

button {
    display: block;
    margin: 0;
    padding: 0px;
    border: none;

    background: transparent;
    cursor: pointer;
    font: inherit;
    color: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

ol,
ul {
    list-style: none;
}
