/* RESETS */
* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

html,
body {
    height: 100%;
    overflow: hidden;
}
